.about-me{
font-weight: 300;
color: rgb(199, 193, 193);

}
.sm-aboutme-container{
padding-top: 60px;
padding-right:30px
}
.sm-socials-inner{
display: flex;
justify-content: space-between;
margin-bottom: 10px
}
.sm-name-link{
font-weight: 300;
color: rgb(199, 193, 193);
}
.sm-name-link:hover{
text-decoration: underline;
}
.aboutme-name{
font-weight: 300;
color: rgb(199, 193, 193);

}
