/* .my-products-main {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-products-upper {

    position: absolute;
    left: 0;
    top: 7.5rem;
    width: 100%;
    min-height: 100px;
    min-width: 100%;
    z-index: -5
  }


  .my-products-header {
    margin: 2rem auto 0.5rem;
    font-size: 1.5rem;
    width: 1220px;
  }

  .my-products-shop {
    font-size: 1rem;
    margin: 0 auto 2rem;
    width: 1220px;
    display: flex;
    align-items: center;
  }

  .my-products-outer {
    width: 1226px;
    padding-top: 8.2rem;
  }

  .my-products-inner {
    display: grid;

    grid-template-columns: minmax(0,50%) minmax(0,50%);

    margin-top: 1rem;
  }

  .myproducts-product-container {
    display: grid;
    grid-template-columns: minmax(0,40%) minmax(0, 60%);
    margin-bottom: 10px;
  }

  .myproducts-product-image-container {
    min-width: 210px;
    height: 170px;
    margin-bottom: 1rem;
  }

  .myproducts-product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .myproducts-product-info {
    padding: 0px 10px 15px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
  }

  .myproducts-product-title {
    font-size: 18px;

  }

  .myproducts-product-story{
    overflow-y: auto;
  }

  .myproduct-buttons-container {
    display: flex;
    justify-content:space-between;
    padding: 0px 2px 2px 0px;
    margin-top: -8px;
    margin-bottom: 15px;
    min-width: 0;
  }


  .myproduct-buttons {
    cursor: pointer;
    width: 115px;
    padding: 3px 10px;
    margin: 6px 0px 3px 0px;

    border-radius: 4px;
    background: black;
    color: white;
    font: bold;
  }

  .myproduct-buttons:hover {
    background: white;
    border: 1px black;
    color:black;
  } */
