.logout-btn {
    align-items: center;
    background:none;
    border: 0;
    color: black;
    cursor: pointer;
    justify-content: center;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    /* padding-top: 10px; */
    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-decoration: underline;
  }
  .logout-btn:hover{
    color: #00E3AA
  }
  .login-container {
    /* height: 100% !important;
    width: 100% !important; */
    /* background-color: white; */
    margin: 40px 60px;
    text-align: center;

  }
.login-error-msg{
  color: red
}
  .switch-to-signup-btn {
      margin-top: 20px;
      background: none;
      border: none;
      cursor: pointer;
      color: rgb(26,137,23);
      font-size: 16px;
  }

  .switch-to-signup {
      display: block;
      margin: auto;
      width: 100%;
      font-size: 16px;
  }

  .login-modal-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .exit-icon-login {
    display: block;
    /* margin-top: 10px; */
    margin-right: -20px;
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
  }
  /* .exit-icon-login:hover{
    font-size: 30px
  } */

  .login-input {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .login-input ::placeholder{
    font-size: 12px
  }

  .login-input:focus {
    border-bottom: 1.5px solid black;
  }

  .login-btn-modal {
    display: block;
    align-items: center;
    width: 220px;
    background-color: #292929;
    border: 0;
    color: white;
    cursor: pointer;
    justify-content: center;
    border-radius:5px;
    /* padding-left: 60px;
    padding-right: 60px; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 30px;
  }

  .login-label {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    margin: auto;
  }

  .signin-form {
    justify-content: center;
    margin: auto;
    text-align: center;
  }
