.story-preview-container {
    height: 200px;
    width: 70%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.text-container {
    display: block;
    width: 70%;
}

.author-container {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 5px
}

.author-name {
    font-size: 14px;
    font-weight: bold;
}

.profile-image-container {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
}

.image-container {
    width: 30%;
    height: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story-text-preview-container {
    overflow: hidden;
}
.story-title-preview-text {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: black;
}

.story-content-preview-text {
    width: auto;
    height: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(117, 117, 117, 1);
    overflow: hidden;
    margin: 0px;
    padding-top: 10px;
    padding-right: 20px
}

.created-date {
    color: rgba(117, 117, 117, 1);
    padding: 8px 0px 0px 0px;
}

.all-stories-title{
    margin-left:74px;
    font-size: 35px;
    margin-top: 12px;
    margin-bottom: 35px;
    background-color: #00E3AA;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
